{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "rules": {
    "selector-no-qualifying-type": null,
    "import-notation": null,
    "media-feature-range-notation": null,
    "selector-not-notation": null
  }

}